<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /lunova/index.php [L]

</IfModule>